<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>dk.simonbs.dt.unit.minimalist</string>
	<key>Ancestors</key>
	<array>
		<string>dk.simonbs.dt.unit.base</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Starting point for an app.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Run SwiftLint</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>#!/bin/bash
export PATH=&quot;$PATH:/opt/homebrew/bin&quot;
if which swiftlint &gt;/dev/null; then
  swiftlint
else
  echo &quot;warning: SwiftLint not installed, download from https://github.com/realm/SwiftLint&quot;
fi
</string>
					<key>BasedOnDependencyAnalysis</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Source/AppDelegate.swift</string>
		<string>Source/SceneDelegate.swift</string>
		<string>Source/Main/MainView.swift</string>
		<string>Source/Main/MainViewController.swift</string>
		<string>Assets.xcassets</string>
		<string>.swiftlint.yml</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Assets.xcassets</string>
		</dict>
		<key>Source/AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
			</array>
			<key>Path</key>
			<string>Source/AppDelegate.swift</string>
		</dict>
		<key>Source/SceneDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
			</array>
			<key>Path</key>
			<string>Source/SceneDelegate.swift</string>
		</dict>
		<key>Source/Main/MainView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>Source/Main/MainView.swift</string>
		</dict>
		<key>Source/Main/MainViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Source</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>Source/Main/MainViewController.swift</string>
		</dict>
		<key>.swiftlint.yml</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array/>
			<key>Group</key>
			<array/>
			<key>Path</key>
			<string>.swiftlint.yml</string>
		</dict>
	</dict>
	<key>Options</key>
	<array/>
</dict>
</plist>
